* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
}

.my-col-1-6 {
    width: calc((100% / 6) * 1);
}

.my-col-3-5 {
    width: calc((100% / 5) * 3);
}

.my-col-1-4 {
    width: calc((100% / 4) * 1);
}

.my-col-3-4 {
    width: calc((100% / 4) * 3);
}

.text-container {
    float: left;
}

.my-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #ddd;
    color: #23272a;
    text-decoration: none;
}

.my-button-small {
    font-size: 0.8em;
}

.my-button-dark {
    background-color: #23272a;
    color: #eee;
}

.my-button-lilac {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #7289da;
    color: #23272a;
    text-decoration: none;
}

.p {
    font-size: 1.2em;
    line-height: 30px;
}

.header-top {
    padding: 10px 0;
    background-color: #255ee9;
}

.header-top .main-menu > * {
/*    padding: 10px; */
    display: felx;
    align-items: center;
}

.header-top .main-menu-container > .main-nav {
    text-align: center;
}

.header-top .main-menu-container > .main-nav ul li {
    display: inline-block;
}

.header-top .main-menu-container > .main-nav ul li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.header -top .main-menu-container > .logo-container img {
    height: 40px;
}

.header-top .main-menu-container > .logo-container {
    justify-content: flex-end;
}

.header-bottom {
    padding: 50px 0;
    background-color: #255ee9;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-bottom .jumbotron {
    text-align: center;
}

.header-bottom .jumbotron h1 {
    font-size: 2.5em;
    margin: 30px 0;
    color: white;
}

.header-bottom .jumbotron p {
    font-size: 1.2em;
    margin: 30px;
    color: white;
    margin-bottom: 20px;
}

.header-bottom .jumbotron a:first-of-type {
    margin-right: 20px;
}

.main-section-row {
    padding: 40px 0;
}

main > section:nth-child(even) {
    background-color: rgb(231, 231, 231);
}

main section .big-green {
    text-align: center;
}

.stars-par {
    font-weight: bold;
    font-size: 1.5em;
    background-image: url(../img/stars.svg)
}

main img {
    max-width: 100%;
}

main h2 {
    font-size: 2.5em;
}

main section .text-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

main > section:nth-child(odd) .text-container {
    padding-left: 40px;
}

main > section:nth-child(even) .text-container {
    padding-left: 40px;
}

.debug main section .my-row .my-col-3-5 {
    background-color: #1e90ff;
    border: 1px dashed black;
    min-height: 400px;
}

.debug main sectio .my-row .my-col-2-5 {
    background-color: pink;
    border: 1px dashed black;
    min-height: 400px;
}

footer {
    background-color: #23272a;
}

.footer-top {
    padding: 30px 0;
}

.footer-top .footer-top-main-row i {
    color: white;
}

.footer-top .footer-top-main-row ul {
    list-style: none;
}

.footer-top .footer-top-main-row h4 {
    color: #7289da;
    font-size: 1.6em;
    line-height: 35px;
}

.footer-top .footer-top-main-row h5 {
    color: #7289da;
}

.footer-top .footer-top-main-row ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.footer-top .lang-container {
    color: white;
    margin-bottom: 30px;
}

.footer-top .lang-container img {
    height: 15px;
}

.footer-top .brands-container i::not(:first-child):not(:last-child) {
    margin-left: 15px;
}

.footer-top hr {
    margin-top: 30px;
}

.footer-bottom .sign-container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}