/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
    display: flex;
}

/* 
    DEBUG
*/


/* 
    HEADER
*/
.header-background {
    background-image: url(../img/jumbo.png);
    min-height: 600px;
    background-size: cover;
}


.orangebar {
    margin: 10px auto;
    display: flex;
    width: 100%;
}

.orangebar > * {
    display: flex;
    padding: 5px;
}

.orangebar > .logo-text,
.orangebar > div:nth-child(3) {
    width: 25%;
}

.orangebar > .header-link {
    width: 50%;
    justify-content: center;
}

.header-link > ul > * {
    display: inline-block;
    padding: 5px;
}

li > a {
    color: #ddd;
    text-decoration: none;

}

.orangebar > div:nth-child(3) {
    justify-content: end;
}

.button {
    padding: 10px;
    border: 1px solid #23272a;
    color: #23272a;
    text-decoration: none;
    background-color: #ddd;
    border-radius: 25px;
}

.bottom-container {
    display: flex;
    min-height: 400px;
}

.rosybrown {
    padding-top: 5%;
    margin: 20px auto;
    width: 60%;
    text-align: center;
}

.rosybrown > h1,
.rosybrown > p {
    color: white;
    margin: 20px auto;
    width: 60%;
    text-align: center;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 20px;
}

.button2ndtype {
    background-color: #ddd;
    width: 5%;
    text-decoration: none;
    color: #23272a;
    padding: 12px;
    border-radius: 25px;
    font-size: 1.5em;
}

.button3ndtype {
    background-color: #23272a;
    width: 5%;
    text-decoration: none;
    color: #ddd;
    padding: 12px 12px;
    border-radius: 25px;
    font-size: 1.5em;
    margin-left: 20px;
}

/* MAIN-PRIMA SEZIONE */

.white {
    background-color: white;
    justify-content: center;
}

.lightblue,
.lightcoral {
    min-height: 400px;
    margin: 20px 0;
}

.lightblue {
    width: 60%;
}

.img-main {
    max-width: 100%;
    height: auto;
    
}

.lightcoral {
    width: 55%;
}

h2 {
    padding-top: 7%;
    font-size: 3em;
    margin-bottom: 10px;
}
p {
    color: black;
    font-size: 1.5em;
    padding-top: 25px;
}
/* MAIN-SECONDA SEZIONE */

.grey {
    background-color: rgb(246,246,246);
    justify-content: center;
    padding-bottom: 100px;
}



/* MAIN-QUARTA SEZIONE */

.green {
    width: 100%;
    height: 800px;
    margin: 20px 0;
    text-align: center;
}
.container2 {
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
}

.final-container-main {
    text-align: center;
}

.final-container-main > div {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}

.final-container-main > a {
    background-color: rgb(114, 137, 218);
    color: white;
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;
}
/* FOOTER */

.darkgrey {
    background-color: #23272a;
    justify-content: center;
}

.pink{
    width: 20%;
    min-height: 400px;
    margin: 20px 0;
    border-bottom: #6F88D9 solid 2px;
}

.pink > h3 {
    color:#6F88D9;
    font-size: 2em;
}

.tendina {
    width: 20%;
    display: flex;
}

.tendina > img {
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.lingua {
    color: white;
    padding-left: 10px;
}

.arrow {
    color: white;
    font-size: 1.5em;
    padding-top: 25px;
    padding-left: 5px; 
}

.icon {
    padding-top: 20px;
    font-size: 25px;
    color: white;
}

.twitter {
    padding-right: 15px;
}

.instagram {
    padding-right: 15px;
}

.facebook {
    padding-right: 15px;
}

.lightskyblue {
    width: 80%;
    min-height: 400px;
    margin: 20px 0;
    border-bottom: #6F88D9 solid 1px;
    display: flex;
}

.column {
    border-bottom: #6F88D9 1px solid;
    flex-direction: column;
    width: calc(100% / 4);
    color: #6F88D9;
    font-size: larger;
}

.footer-list > li {
    display: inline-block;
    padding: 5px 0;
}

.lightbluefooter {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.button.footer {
    background-color: #6F88D9;
}